body {
  margin: 0;
  min-height: 100vh;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: linear-gradient(
    135deg,
    #0f172a 0%,
    #1e293b 35%,
    #3a378b 70%,
    #59148d 100%
  );

  background-attachment: fixed;
}

#root {
  min-height: 100vh;
}